@model TPLOCAL1_base.Models.FormulaireModel
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Page Validation";
    ViewBag.h1 = "Page Validation";

    ViewBag.h1 = "Formulaire TP HN";
    ViewBag.Link1 = "<a href=\"/Home/Index\">Page d'accueil</a>";
    ViewBag.Link2 = "<a href=\"/Home/Index/ListeAvis\">List Avis</a>";

}


<p>
    Votre formulaire a bien été pris en compte.
</p>
<table>
    <caption>
        Informations personnelles
    </caption>
    <tr>
        <td>@Html.DisplayNameFor(f => f.Nom)</td>
        <td>@Html.DisplayFor(f => f.Nom)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(f => f.Prenom)</td>
        <td>@Html.DisplayFor(f => f.Prenom)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(f => f.Sexe)</td>
        <td>@Html.DisplayFor(f => f.Sexe)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(f => f.Adresse)</td>
        <td>@Html.DisplayFor(f => f.Adresse)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(f => f.Codepostal)</td>
        <td>@Html.DisplayFor(f => f.Codepostal)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(f => f.Ville)</td>
        <td>@Html.DisplayFor(f => f.Ville)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(f => f.Email)</td>
        <td>@Html.DisplayFor(f => f.Email)</td>
    </tr>
</table>
<br />
<table>
    <caption>
        Information Formation Suivie
    </caption>
    <tr>
        <td>@Html.DisplayNameFor(f => f.DateFormation)</td>
        <td>@Html.DisplayFor(f => f.DateFormation)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(f => f.TypeFormation)</td>
        <td>@Html.DisplayFor(f => f.TypeFormation)</td>
    </tr>
</table>
<br />
<table>
    <caption>
        Avis sur la Formation
    </caption>
    <tr>
        <td>@Html.DisplayNameFor(f => f.Formationcobol)</td>
        <td>@Html.DisplayFor(f => f.Formationcobol)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(f => f.FormationC)</td>
        <td>@Html.DisplayFor(f => f.FormationC)</td>
    </tr>
</table>

